*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    margin: auto;
    width: 80%;   
}

/* header */
header{
    background-color: rgb(237, 160, 18);
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;   
}

/* nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;    
}

.nav-sx , .nav-dx{
    flex-basis: 30%;
}

.nav-ct{
    flex-basis: 60%;
    position: absolute;
    left: 44%;
}

.nav-sx .abiti , .abiti-2{
    color: white;
    margin: 0px 3px;
    font-size: 12px;
}

.nav-ct img{
    width: 20%;    
}

.nav-dx svg{
    height: 15px;
    fill: white;
}

.nav-dx{
    position: absolute;
    right: 0;
}

.abiti-1{
    position: relative;
}

.abiti-2{
    display: none;
    position: absolute;
    text-decoration-line: underline;
    top: 0%
}

.nax-sx:hover .abiti-1{
    display: none;
}

.nav-sx:hover .abiti-2{
    display: block;
}

/* main */
.section-img{
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;   
}

.box{
    flex-basis: 31%;
    position: relative;    
}

.img{
   position: relative;
}

.box img{
    width: 100%;
}

.img-2{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.box:hover .img-1{
    display: none;
}

.box:hover .img-2{
    display: block;
}

.svg-2 {
    top: 0px;
    right: 0px;
    margin: 5px 0px;
    background-color: white;
    height: 20px; 
    position: absolute;    
}

.svg-1{
    height: 20px; 
    position: absolute;
    top: 0;
    right: 0; 
    background-color: white;
    margin: 5px 0px; 
}

.svg-2{
    fill: red;
    display: none;
}

.box:hover .svg-1{
    display: none;
}

.box:hover .svg-2{
    display: block;
}

.testo{
    font-size: 10px;
    position: absolute;
    top: 85%;
 }  

.sconto{
    background-color: red;
    color: white;
    margin-right: 4px;
    padding: 2px 2px;
}

.sconto-ts{
    background-color: green;
    color: white;
    padding: 2px 2px;
}

.section-text{
    display: flex;
    justify-content: space-between;
}

/* descrizion */
.descrizione{
    flex-basis: 31%;
}

.prezzo{
    color: red;
    margin-right: 5px;
}

.prezzo-sconto{
    color: gray;
    text-decoration-line: line-through ;
}


/* footer */
footer {
    background-color: rgb(38, 35, 35);
    margin-top: 30px;
    padding: 10px 0;    
}

.footer-top{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer-sx, .footer-dx {
    flex-basis: 40%;
    color: white;
    margin: 10px 0;
    font-size: 12px;
}

.footer-dx{
    position: absolute;
    right: 0;
}

.footer-sx span{
    margin: 0 5px;
}

.svg-footer svg{
    height: 15px;
    fill: white;
}



















